@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    /* --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%; */

    /* --border: 217.2 32.6% 17.5%; */
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.step {
  counter-increment: step;
}

.step:before {
  position: absolute;
  display: inline-flex;
  height: 2.25rem; /* 9 units in rem */
  width: 2.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px; /* Fully rounded */
  border: 4px solid #000;
  background-color: #d8d8d8;
  text-align: center;
  color: #000;
  margin-left: -50px;
  margin-top: -4px;
  content: counter(step);
}

.steps > h3 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}


.page-transition {
  opacity: 0;
  background: black;
  transform: translateY(40px);
  filter: blur(12px);
}